@font-face {
  font-family: 'Roboto';
  src: url("../assets/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-family: 'IntoScript';
  src: url("../assets/ClickerScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  font-family: "IntoScript";
  color: black;
  text-decoration: none;
  font-size: 2rem; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10rem;
  width: 100%;
  background-color: #EAF2E3; }
  .header__logo {
    height: 9.5rem;
    width: 9.5rem;
    border-radius: 50%; }
  .header__nav {
    height: 2rem;
    width: 70vh; }
  .header__list {
    display: flex;
    justify-content: space-around;
    list-style: none; }
  .header__item {
    font-size: 1rem;
    color: #66D7D1;
    position: relative;
    display: inline-block;
    border: 0.3rem solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none; }
  .header__item:hover {
    border-bottom: 0.3rem solid #66D7D1;
    transition: all 0.5s ease-in-out; }

.heroEggs, .heroProducts {
  width: 100%;
  height: 20rem;
  text-align: center;
  background: url("../assets/hero eggs.png") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -50px;
  background-color: #66D7D1; }

.heroProducts {
  background: url("../assets/productoshero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #EAF2E3; }

.eggText {
  height: auto;
  width: auto;
  font-family: "IntoScript";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: #EAF2E3;
  font-size: 3rem; }

.eggClass {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .eggClass .eggClass__Red {
    width: 100%;
    display: grid;
    grid-template-columns: 15rem 15rem;
    grid-template-rows: 15rem 15rem;
    background-color: #EAF2E3;
    justify-content: center;
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;
    padding: 4rem; }
  .eggClass__RedChild {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 0.2rem outset #66D7D1;
    font-family: 'HevelticaRoman';
    overflow: hidden;
    padding: 1rem; }
  .eggClass .eggClass__white {
    width: 100%;
    display: grid;
    grid-template-columns: 15rem 15rem;
    grid-template-rows: 15rem 15rem;
    background-color: #EAF2E3;
    justify-content: center;
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;
    padding: 4rem; }
  .eggClass__whiteChild {
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 0.2rem outset #66D7D1;
    font-family: 'HevelticaRoman';
    overflow: hidden;
    padding: 1rem; }
