@font-face {
  font-family: 'HevelticaRoman';
  src: url("../assets/HelveticaLTStdRoman.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-family: 'HevelticaCond';
  src: url("../assets/HelveticaLTStdBoldCondObl.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 12rem;
  width: 100%;
  background-color: #EAF2E3; }
  .header__logo {
    height: 9.5rem;
    width: 10.5rem;
    border-radius: 50%; }
  .header__nav {
    height: 2rem;
    width: 70vh; }
  .header__list {
    display: flex;
    justify-content: space-around;
    list-style: none; }
  .header__item {
    font-size: 1rem;
    color: whitesmoke;
    position: relative;
    display: inline-block;
    border: 0.3rem solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none; }

a {
  font-family: "HevelticaCond";
  color: black;
  text-decoration: none; }
