@font-face{
    font-family: 'Roboto';
    src: url('../assets/Roboto-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-family: 'IntoScript' ;
    src: url('../assets/ClickerScript-Regular.ttf') format("truetype"); 
    font-weight: normal;
    font-style: normal;
}
