@import "./_variables";

@font-face{
    font-family: 'BarlowSB';
    src: url('../assets/Barlow-SemiBoldItalic.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-family: 'IntoScript' ;
    src: url('../assets/Barlow-Medium.ttf') format("truetype"); 
    font-weight: normal;
    font-style: normal;
    font-family: 'Inter';
    src: url('../assets/Inter-Light.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
